<div class="toolbar" role="banner" style="  margin-top: -40px">
  <p>FOD TECHNICAL TEST PLATE-FORME</p>
</div>

<div class="toolbar-2" role="banner" style="  margin-top: 10px">
  <button class="btn btn-success" (click)="startCoundDown()">Start test</button>
  <p [style.color]="color" >Time : {{counter}} Secondes</p>
</div>

<hr style="background: #1976d2; width: 90%">

<div [hidden]=questionBoxHiden class="container-fluid">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active"
         id="lq1"
         data-toggle="tab"
         href="#q1"
         role="tab"
         aria-controls="q1"
         aria-selected="true">
        1
      </a>
      <a class="nav-item nav-link"
         id="lq2"
         data-toggle="tab"
         href="#q2"
         role="tab"
         aria-controls="q2"
         aria-selected="false">
        2
      </a>
      <a class="nav-item nav-link"
         id="lq3"
         data-toggle="tab"
         href="#q3"
         role="tab"
         aria-controls="q3"
         aria-selected="false">
        3
      </a>
      <a class="nav-item nav-link"
         id="lq4"
         data-toggle="tab"
         href="#q4"
         role="tab"
         aria-controls="q4"
         aria-selected="false">
        4
      </a>
      <a class="nav-item nav-link"
         id="lq5"
         data-toggle="tab"
         href="#q5"
         role="tab"
         aria-controls="q4"
         aria-selected="false">
        5
      </a>
      <a class="nav-item nav-link"
         id="lq6"
         data-toggle="tab"
         href="#q6"
         role="tab"
         aria-controls="q6"
         aria-selected="false">
        6
      </a>
      <a class="nav-item nav-link"
         id="lq7"
         data-toggle="tab"
         href="#q7"
         role="tab"
         aria-controls="q7"
         aria-selected="false">
        7
      </a>
      <a class="nav-item nav-link"
         id="lq8"
         data-toggle="tab"
         href="#q8"
         role="tab"
         aria-controls="q8"
         aria-selected="false">
        8
      </a>
      <a class="nav-item nav-link"
         id="lq9"
         data-toggle="tab"
         href="#q9"
         role="tab"
         aria-controls="q9"
         aria-selected="false">
        9
      </a>
      <a class="nav-item nav-link"
         id="lq10"
         data-toggle="tab"
         href="#q10"
         role="tab"
         aria-controls="q10"
         aria-selected="false">
        10
      </a>
      <a class="nav-item nav-link"
         id="lq11"
         data-toggle="tab"
         href="#q11"
         role="tab"
         aria-controls="q11"
         aria-selected="false">
        11
      </a>
      <a class="nav-item nav-link"
         id="lq12"
         data-toggle="tab"
         href="#q12"
         role="tab"
         aria-controls="q12"
         aria-selected="false">
        12
      </a>
      <a class="nav-item nav-link"
         id="lq13"
         data-toggle="tab"
         href="#q13"
         role="tab"
         aria-controls="q13"
         aria-selected="false">
        13
      </a>
      <a class="nav-item nav-link"
         id="lq14"
         data-toggle="tab"
         href="#q14"
         role="tab"
         aria-controls="q14"
         aria-selected="false">
        14
      </a>
      <a class="nav-item nav-link"
         id="lq15"
         data-toggle="tab"
         href="#q15"
         role="tab"
         aria-controls="q15"
         aria-selected="false">
        15
      </a>
      <a class="nav-item nav-link"
         id="lq16"
         data-toggle="tab"
         href="#q16"
         role="tab"
         aria-controls="q16"
         aria-selected="false">
        16
      </a>
      <a class="nav-item nav-link"
         id="lq17"
         data-toggle="tab"
         href="#q17"
         role="tab"
         aria-controls="q17"
         aria-selected="false">
        17
      </a>
      <a class="nav-item nav-link"
         id="lq18"
         data-toggle="tab"
         href="#q18"
         role="tab"
         aria-controls="q18"
         aria-selected="false">
        18
      </a>
      <a class="nav-item nav-link"
         id="lq19"
         data-toggle="tab"
         href="#q19"
         role="tab"
         aria-controls="q19"
         aria-selected="false">
        19
      </a>
      <a class="nav-item nav-link"
         id="lq20"
         data-toggle="tab"
         href="#q20"
         role="tab"
         aria-controls="q20"
         aria-selected="false">
        20
      </a>
      <a class="nav-item nav-link"
         id="lq21"
         data-toggle="tab"
         href="#q21"
         role="tab"
         aria-controls="q21"
         aria-selected="false">
        21
      </a>
      <a class="nav-item nav-link"
         id="lq22"
         data-toggle="tab"
         href="#q22"
         role="tab"
         aria-controls="q22"
         aria-selected="false">
        22
      </a>
      <a class="nav-item nav-link"
         id="lq23"
         data-toggle="tab"
         href="#q23"
         role="tab"
         aria-controls="q23"
         aria-selected="false">
        23
      </a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active"
         id="q1"
         role="tabpanel"
         aria-labelledby="q1">
      <div class="choix" style="padding: 50px; border:1px solid #eeeeee;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;">
        <p>En quel année a t-on sortis le language JAVA ? :</p>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio1">1995</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio2">2000</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio3">1860</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio4">1960</label>
        </div>
      </div>
    </div>
    <div class="tab-pane fade"
         id="q2"
         role="tabpanel"
         aria-labelledby="q2">
      <div class="choix" style="padding: 50px; border:1px solid #eeeeee;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;">
        <p>JAVA est un langage développé par ? :</p>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio5">Hewlett-Packard</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio6" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio6">Sun Microsystems</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio7" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio7">Microsoft</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio8" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio8">Oracle</label>
        </div>
      </div>
    </div>
    <div class="tab-pane fade"
         id="q3"
         role="tabpanel"
         aria-labelledby="q3">
      <div class="choix" style="padding: 50px; border:1px solid #eeeeee;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;">
        <p>JAVA est un language ? :</p>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio9" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio9">Compilé</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio10" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio10">Interprété</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio11" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio11">Compilé et Interprété</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio12" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio12">Ni compilé et ni interprété</label>
        </div>
      </div>
    </div>
    <div class="tab-pane fade"
         id="q4"
         role="tabpanel"
         aria-labelledby="q4">
      <div class="choix" style="padding: 50px; border:1px solid #eeeeee;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;">
        <p>Combien d’instances de la classe A crée le code suivant? ? :
          <br>
          A x,u,v;<br>
          x=new A();<br>
          A y=x;<br>
          A z=new A();
        </p>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio13" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio13">Cinq</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio14" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio14">Trois</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio15" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio15">Aucune</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio16" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio16">Deux</label>
        </div>
      </div>
    </div>
    <div class="tab-pane fade"
         id="q5"
         role="tabpanel"
         aria-labelledby="q5">
      <div class="choix" style="padding: 50px; border:1px solid #eeeeee;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;">
        <p>Les classes en JAVA :</p>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio17" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio17">
            Une classe peut impl´ementer plusieurs interfaces mais doit ´etendre une seule classe
          </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio18" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio18">
            Une classe peut impl´ementer plusieurs classes mais doit ´etendre une seule interface
          </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio19" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio19">
            Une classe peut impl´ementer plusieurs classes et peut ´etendre plusieurs interfaces
          </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio20" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio20">
            Une classe doit impl´ementer une seule interface et ´etendre une seule classe
          </label>
        </div>
      </div>
    </div>
    <div class="tab-pane fade"
         id="q6"
         role="tabpanel"
         aria-labelledby="q6">
      <div class="choix" style="padding: 50px; border:1px solid #eeeeee;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;">
        <p> La liaison tardive est essentielle pour assurer ? :</p>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio21" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio21">
            l’encapsulation
          </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio22" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio22">
            le polymorphisme
          </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio23" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio23">
            l’héritage
          </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio24" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio24">
            la marginalisation
          </label>
        </div>
      </div>
    </div>
    <div class="tab-pane fade"
         id="q7"
         role="tabpanel"
         aria-labelledby="q7">
      tab 7
    </div>
    <div class="tab-pane fade"
         id="q8"
         role="tabpanel"
         aria-labelledby="q8">
      tab 8
    </div>
    <div class="tab-pane fade"
         id="q9"
         role="tabpanel"
         aria-labelledby="q9">
      tab 9
    </div>
    <div class="tab-pane fade"
         id="q10"
         role="tabpanel"
         aria-labelledby="q10">
      tab 10
    </div>
    <div class="tab-pane fade"
         id="q11"
         role="tabpanel"
         aria-labelledby="q11">
      tab 11
    </div>
    <div class="tab-pane fade"
         id="q12"
         role="tabpanel"
         aria-labelledby="q12">
      tab 12
    </div>
    <div class="tab-pane fade"
         id="q13"
         role="tabpanel"
         aria-labelledby="q13">
      tab 13
    </div>
    <div class="tab-pane fade"
         id="q14"
         role="tabpanel"
         aria-labelledby="q14">
      tab 14
    </div>
    <div class="tab-pane fade"
         id="q15"
         role="tabpanel"
         aria-labelledby="q15">
      tab 15
    </div>
    <div class="tab-pane fade"
         id="q16"
         role="tabpanel"
         aria-labelledby="q16">
      tab 16
    </div>
    <div class="tab-pane fade"
         id="q17"
         role="tabpanel"
         aria-labelledby="q17">
      tab 17
    </div>
    <div class="tab-pane fade"
         id="q18"
         role="tabpanel"
         aria-labelledby="q18">
      tab 18
    </div>
    <div class="tab-pane fade"
         id="q19"
         role="tabpanel"
         aria-labelledby="q19">
      tab 19
    </div>
    <div class="tab-pane fade"
         id="q20"
         role="tabpanel"
         aria-labelledby="q20">
      tab 20
    </div>
    <div class="tab-pane fade"
         id="q21"
         role="tabpanel"
         aria-labelledby="q21">
      tab 21
    </div>
    <div class="tab-pane fade"
         id="q22"
         role="tabpanel"
         aria-labelledby="q22">
      tab 22
    </div>
  </div>
</div>
<div [hidden]=scoreBoxHiden class="container-fluid box-score">
  VOTRE SCORE EST DE : 20
</div>
